h1 {
  color: red;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font: weight 700;
  text-align: center;
  width: fit-content;
  border: 0.5rem gold solid;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 3rem;
}

.babo {
  background: darkgray;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 600px;
}
